.dashboard {
  display: flex;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  padding: 20px;
  
}

.stats-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}
.charts {
  margin-top: 20px;
}
.recent-activity {
  margin-top: 20px;
}
